repos:
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        language: system
        entry: pytest -v -s
        always_run: true
        pass_filenames: false
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: requirements
        name: requirements
        entry: powershell -Command "python -m pip freeze > requirements.txt; git add requirements.txt"
        language: system
        pass_filenames: false
        stages: [pre-commit]
