version: '3.8'

services:
  postgresdb:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgresVolume:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d

  docker-python:
    build:
      context: .
    ports:
      - "5000:5000"
    environment:
      DB_HOST: postgresdb
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    depends_on:
      - postgresdb

volumes:
  postgresVolume:
